import(methods)

import(S4Vectors)

importFrom("parallel",detectCores,mclapply)

importFrom("rtracklayer",BigWigFile,export.wig,import)

importFrom("IRanges",IRanges,mean,lapply,table,coverage)

importFrom("GenomicRanges",as.data.frame,GRanges,seqnames)

importFrom("Rsamtools",BamFile,scanBamHeader,ScanBamParam, "bamFlag<-", scanBamFlag, countBam)

importFrom("GenomicAlignments",readGAlignments,readGAlignmentPairs)

importFrom("tools", file_ext)

importFrom("grDevices", "colorRampPalette", "dev.off", "heat.colors","png")
  
importFrom("graphics", "abline", "axis", "box", "grid", "image","layout", "legend", "par", "plot", "polygon")

importFrom("utils", "write.table")

exportPattern("^[[:alpha:]]+")

exportMethods(cov.interval,cov.matrix,draw.heatmap,draw.profile,genome.covplot.cumdepth,genome.covplot.depth)

export(export.wig,write.profile)

exportClasses(CoverageBamFile,CoverageBigWigFile)

